.img {
    height: 250px;
    object-fit: fill;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border: 0.3vh solid #333;
    transition: all 0.2s;
    cursor: progress;

    &:hover {
        transform: scale(1.05);
    }
}