@font-face {
    font-family: 'Alagard';
    src: url('/fonts/alagard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixellari';
    src: url('/fonts/Pixellari.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}