@import "_fonts.scss";
@import "_colors.scss";

body {
    margin: 0;
    background-color: rgb(2, 2, 2);
    background-image: url("/images/stars.gif");
    background-size: 15%;
    color: white;
    font-family: Pixellari;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

a:hover {
    color: $main_color;
    text-decoration: underline;
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 50%;
    height: 100%;
}

.titletext {
    font-size: 3vh;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Alagard;
    color: $main_color;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.side-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 35%;
}

.module {
    border: 0.3vh solid #333;
    border-radius: 0.3vh;
    padding: 2vh;
    background-color: black;
    height: fit-content;
}

.firstbox {
    margin-top: 5vh;
}