body {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

h1 {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-image: linear-gradient(135deg, #da2c2c 40%, #d1095c 60%);
}

nav {
    z-index: 999;
}

.gradientBg {
    background-image: linear-gradient(135deg, #da2c2c 40%, #d1095c 60%);
}

.redColor {
    color: #da2c2c;
}

.middle {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.dropShadow {
    filter: drop-shadow(0 0 0.5vh #000000);
}

.omoriBgDark {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -99;
    width: 100%;
    height: 100%;
    content: url("/img/omoriBgDark.png");
    object-fit: cover;
    filter: brightness(0.3);

}

.titleText {
    font-size: 10vh;
}

.aboutBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.aboutBgBox {
    width: 75%;
    height: fit-content;
}

.aboutText {
    font-size: 2.5vh;
}

.bottomAboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 0;
}