@import "_fonts.scss";
@import "_colors.scss";

$glow_amount: 0.3vh;

body {
    margin: 0;
    background-color: rgb(2, 2, 2);
    background-image: url("/images/stars.gif");
    background-size: 15%;
    color: white;
    font-family: Pixellari;
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
    font-size: 1rem;
}

a:hover {
    color: $main_color;
    text-decoration: underline;
}

.disabled {
    color: #555;
    text-decoration: none;
    width: fit-content;
    font-size: 1rem;
}

.disabled:hover {
    color: #555;
    text-decoration: none;
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
    color: mix($main_color, white, 50%);
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.3vh;
}

p {
    font-size: 1rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h1 {
    margin-top: 4vh;
    margin-bottom: -1vh;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Pixellari;
    color: white;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Alagard;
    color: $main_color;
    margin-bottom: 0.5vh;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Pixellari;
    color: $main_color;
    margin: 0;
    margin-bottom: -1vh;
}

.glow-white {
    text-shadow: 0 0 $glow_amount white;
}

.glow-main {
    text-shadow: 0 0 $glow_amount $main_color;
}

.activelink {
    color: mix($main_color, white, 50%);
    text-shadow: 0 0 $glow_amount $main_color;
}

.middle {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 75vw;
    height: 100%;
    margin-bottom: 5vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}

.side-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 35%;
}

.module {
    border: 0.3vh solid #333;
    border-radius: 0.3vh;
    padding: 2vh;
    background-color: black;
    height: fit-content;
    box-shadow: 0 0 0.5vh 0.1vh #333;
}

.musicbox-img {
    width: 100%;
    height: auto;
    border-radius: 0.3vh;
    border: 0.3vh solid #333;
    box-shadow: 0 0 0.5vh 0.1vh #333;
}

.musicbox-img:hover {
    border: 0.3vh solid $main_color;
    box-shadow: 0 0 0.5vh 0.1vh $main_color;
}

@media only screen and (max-width: 1000px) {
    .middle {
        width: 95%;
        flex-direction: column;
    }

    .side-section {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }
}